body {
    background-color:white;
    min-height: 100vh;
    margin: 0;
    font-family: "montserrat";
}

.logo{
    width: 100px;
}

/* Search */

.search{
    padding-top: 2%;
    padding-bottom: 3%;
}

.title{
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 600; 
    padding-bottom: 0.4%;
    color: #434343;
}

.input{
    font-family: "montserrat";
    border-width: 3px;
    padding: 0.3%;
    border-radius: 20px;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1rem;
    width: 25%;
    border-color: #015AFF;;
}

/* Product card */

.model{
    font-family: "montserrat";
    font-size: 0.90rem;
    font-weight: 600; 
}

.brand{
    font-family: "montserrat";
    font-size: 0.95rem;
    padding-top: 1px;
}

.price{
    font-family: "montserrat";
    font-size: 0.84rem;
    font-weight: 600; 
    color: #015AFF;
}

.productImg {
    padding-bottom: 12%;
    padding-top: 12%;
    width: 60%;
}

.productContainer {
    border-radius: 20px;
    box-shadow: 10px 4px 15px rgba(0, 0, 0, 0.1); 
    margin-bottom: 30%;    
    background-color: white;
}


/* Menú */
  
.container-menu {
    padding-top: 1.6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.componente-menu {
    flex: 1;
    text-align: center;
}

.crumbs{
    display: flex;
}

.crumb{
    color: #015AFF;
    font-family: "montserrat";
    font-size: 0.90rem;
    font-weight: 500; 
    padding-top: 3%;
    flex: 1;
}

.cart{
    color: #015AFF;
    font-family: "montserrat";
    font-size: 0.90rem;
    font-weight: 500; 
    padding-top: 3%;
}

/* List View */

.view{
    margin-top: 2%;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    background-color:  #f5f5f5;
    min-height: 90vh;
}

/* Detail View */

.containerimgdetail {
    margin-top: 33%;
}

.imgdetail {
    width: 30vh;
}

.detail{
    line-height: 60%;
}

.containdetail{
    padding-top: 30%;
}

/* form input type radio */

.radio {
    font-size: large;
    font-weight: 600; 
}

.radio input[type='radio'] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
  }
  
.radio input[type='radio']:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
  
.radio input[type='radio']:checked:before {
    background: #015AFF;
}
  
.button-add {
    margin-top: 2%;
    border-radius: 1.5vh;
    color: white;
    background-color: #015AFF;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    padding: 7px 14px;
    border-style: none; 
}

.button-add:active{
    background-color: #00318b;
}

/* Responsive */

@media (max-width: 768px) {

/* Search */

.search{
    padding-top: 8%;
    padding-bottom: 10%;
}

.title{
    font-size: 1.2rem;
    padding-bottom: 3%;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.8rem;
}

.input{
    font-family: "montserrat";
    padding: 0.8%;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    width: 72%;
}


/* Menú */
  
.container-menu {
    padding-top: 6%;
    padding-bottom: 3%;
}

.crumb{
    padding-top: 10%;
}

/* List View */

.view{
    margin-top: 2%;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    background-color:  #f5f5f5;
    min-height: 90vh;
}

/* Product card */

.model{
    font-size: 1.2rem;
}

.brand{
    font-size: 1.1rem;
}

.price{
    font-size: 1rem;
}

.productContainer { 
    margin-bottom: 15%;    
}

/* Detail View */

.containerimgdetail {
    text-align: center;
    margin-top: 12%;
}

.imgdetail {
    width: 25vh;
}

.containdetail{
    padding-top: 10%;

}

.detail{
    line-height: 120%;
    margin-bottom: 3%;
}

.view{
    padding-left: 8%;
    padding-right: 8%;
}

/* form input type radio */

.form{
    display: flex;
    justify-content: flex-end;
}

.container-button{
    display: flex;
    justify-content: end;
}

.button-add{
    margin-bottom: 20%;
}

.radio input[type='radio'] {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }

}